---
title: Favorites
---

<h2 class="year-header">Websites I <span style="color:red">♥</span></h2>
<ul class="year">
<li><a href="https://www.nytimes.com/interactive/projects/well/workouts/" target="_blank">The Scientific 7-minute workout</a></li>
<li><a href="https://news.ycombinator.com/newest" target="_blank">YCombinator - Hacker News</a></li>
<li><a href="https://www.reddit.com/r/machinelearning" target="_blank">Reddit - /r/MachineLearning</a></li>
<li><a href="http://johnnylists.com/" target="_blank">Johnny Lists</a></li>
<li><a href="http://colah.github.io/" target="_blank">Chris Olah's blog</a></li>
<li><a href="https://arxiv.org/list/stat.ML/recent" target="_blank">arXiv.org - stat.ML</a></li>
</ul>
